<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Prestation Project</title>
  </head>
  <body>
    <header>
      <nav>
        <h3>Prajwal P</h3>
        <ul>
          <li><a data-page="projects" href="#projects">Projects</a></li>
          <li><a data-page="resume" href="#resume">My Resume</a></li>
          <li><a data-page="about" href="#about">About Me</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="projects" data-index="0" class="projects">
        <h2>Projects</h2>
        <div class="proj">
          <!-- card -->
          <a href="https://powerful-tor-69574.herokuapp.com/" class="card">
            <img src="./Images/YelpCamp.png" alt="" />
            <h3>YelpCamp</h3>
            <p>
              A Node.js web application project from The Web Developer Bootcamp.
            </p>
          </a>
          <a href="https://guarded-beach-53441.herokuapp.com/" class="card">
            <img src="./Images/Lookup.jpg" alt="" />
            <h3>OMDB Lookup</h3>
            <p>
              An application that helps to fetch movie data using the OMDB API.
            </p>
          </a>

          <a href="https://floating-citadel-25919.herokuapp.com/" class="card">
            <img src="./Images/RGBColorGame.jpg" alt="" />
            <h3>RGB Color Game</h3>
            <p>
              Guess the correct color from the given pallet according to the
              randomly generated RGB color scheme.
            </p>
          </a>
          <a href="https://youtu.be/Nwg-J8InZwA" class="card">
            <img src="./Images/ShowOnWheels.png" alt="" />
            <h3>Show On Wheels</h3>
            <p>
              An online movie ticket booking platform 'Show on Wheels', My final
              project for Harvard University's CS50x course.
            </p>
          </a>
          <a href="https://timer.prajwal264.now.sh/" class="card">
            <img src="./Images/Timer.jpg" alt="" />
            <h3>Countdown Timer.js</h3>
            <p>
              A Simple Countdown timer app created using vanilla JavaScript and
              SVG's.
            </p>
          </a>
          <a href="https://movie-fight.prajwal264.now.sh/" class="card">
            <img src="./Images/MovieFight.png" alt="" />
            <h3>Movie Fight</h3>
            <p>
              An application used to compare two movies with the help of OMDB
              API.
            </p>
          </a>
        </div>
      </section>
      <section id="resume" data-index="1" class="resume">
        <h2>My resume</h2>
        <div class="imgResume">
          <img
            src="./Resume - Prajwal P (With Template)(2nd ed)_page-0001.jpg"
            alt=""
          />
        </div>
      </section>
      <section id="about" data-index="2" class="about">
        <h2>About me</h2>
        <div class="content">
          <img src="./DSC00440.jpg" alt="" />
          <div class="text">
            <p>
              My goal in life is to be a Full stack web developer, I do love to
              work on the MEAN Stack. Many of my projects are been developed
              using the same. I am also pursuing a course on Full Stack Software
              development with Java Specialization.
            </p>
            <p>
              Ever since I was small I wanted to be a software engineer. I got
              deviated from my goal for a bit and Now I'm back on track, wanting
              to be a highly skilled Full stack web developer.
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
